<title>Sandbox</title>

{% extends 'home/nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'home/css/mdb.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'sandbox/css/style.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'sandbox/css/bootstrap-treeview.css' %}" charset="utf-8">
    <script src="{% static 'home/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/js/mdb.min.js' %}"></script>
    <script src="{% static 'sandbox/js/resources/ace/src/ace.js' %}" type="text/javascript"></script>
    <script src="{% static 'sandbox/js/resources/ace/src/ext-language_tools.js' %}"></script>
    <script src="{% static 'sandbox/js/resources/treeview/src/js/bootstrap-treeview.js' %}"></script>

    <div id="content">
        <div id="breadcrumbs">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Repository</li>
              </ol>
            </nav>
        </div>
        <div id="toolbar" class="blue-gradient">
            <button id="commitButton">Commit</button>
            <button id="runButton" class="btn blue-gradient toolbarbtn"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;run</button><!--
            --><button class="btn peach-gradient toolbarbtn"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;debug</button><!--
            --><button class="btn aqua-gradient toolbarbtn"><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;vcs</button><!--
            --><button class="btn purple-gradient toolbarbtn"><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;theme</button><!--
            --><button class="btn morpheus-den-gradient toolbarbtn"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;notes</button>
        </div>
        <div id="treeview"></div>
        <div id="tabbar">
            <ul class="nav nav-tabs"></ul>
        </div>
        <div id="editorContainer"></div>
        <div id="terminal">
            <iframe id="terminalFrame" src="http://127.0.0.1:7681"></iframe>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-database.js"></script>
    <!--TODO Is css needed?-->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "{{ config.apiKey }}",
            authDomain: "{{ config.authDomain }}",
            databaseURL: "{{ config.databaseURL }}",
            projectId: "{{ config.projectId }}",
            storageBucket: "{{ config.storageBucket }}",
            messagingSenderId: "{{ config.messagingSenderId }}"
        };
    </script>
    <script src="{% static 'sandbox/js/config.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'sandbox/js/vcs.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'sandbox/js/helper.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'sandbox/js/script.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}