{% extends 'home/nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'home/css/mdb.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'sandbox/css/style.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'sandbox/css/bootstrap-treeview.css' %}" charset="utf-8">
    <script src="{% static 'home/js/mdb.min.js' %}"></script>
    <script src="{% static 'sandbox/js/resources/ace/src/ace.js' %}"></script>
    <script src="{% static 'sandbox/js/resources/ace/src/ext-language_tools.js' %}"></script>
    <script src="{% static 'sandbox/js/resources/ace/src/ext-modelist.js' %}"></script>
    <script src="{% static 'sandbox/js/resources/treeview/src/js/bootstrap-treeview.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">


    <div id="content">
        <div class="navbar">
            <div id="breadcrumbs">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Repository
                    </ul>
                </nav>
            </div>
            <div id="toolbar" class="btn-toolbar" style="background:rebeccapurple">
                <button id="runButton" class="btn toolbarbtn"><span class="fas fa-play"></span></button>
                <button id="debugButton" class="btn toolbarbtn"><span class="fas fa-bug"></span>
                </button>
                <button class="btn toolbarbtn" data-toggle="modal" data-target="#myModal"><span
                        class="fab fa-git"></span>
                </button>
                <button class="btn dropdown toolbarbtn">
                    <div class="dropdown-toggle" data-toggle="dropdown" data-display="static"><span
                            class="fas fa-paint-brush"></span></div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:changeTheme('chrome')">Chrome</a>
                        <a class="dropdown-item" href="javascript:changeTheme('clouds')">Clouds</a>
                        <a class="dropdown-item" href="javascript:changeTheme('clouds_midnight')">Clouds Midnight</a>
                        <a class="dropdown-item" href="javascript:changeTheme('cobalt')">Cobalt</a>
                        <a class="dropdown-item" href="javascript:changeTheme('crimson_editor')">Crimson Editor</a>
                        <a class="dropdown-item" href="javascript:changeTheme('dawn')">Dawn</a>
                        <a class="dropdown-item" href="javascript:changeTheme('eclipse')">Eclipse</a>
                        <a class="dropdown-item" href="javascript:changeTheme('idle_fingers')">Idle Fingers</a>
                        <a class="dropdown-item" href="javascript:changeTheme('kr_theme')">KR Theme</a>
                        <a class="dropdown-item" href="javascript:changeTheme('merbivore')">Merbivore</a>
                        <a class="dropdown-item" href="javascript:changeTheme('merbivore_soft')">Merbivore Soft</a>
                        <a class="dropdown-item" href="javascript:changeTheme('mono_industrial')">Mono Industrial</a>
                        <a class="dropdown-item" href="javascript:changeTheme('monokai')">Monokai</a>
                        <a class="dropdown-item" href="javascript:changeTheme('pastel_on_dark')">Pastel On Dark</a>
                        <a class="dropdown-item" href="javascript:changeTheme('solarized_dark')">Solarized Dark</a>
                        <a class="dropdown-item" href="javascript:changeTheme('solarized_light')">Solarized Light</a>
                        <a class="dropdown-item" href="javascript:changeTheme('text_mate')">Text Mate</a>
                        <a class="dropdown-item" href="javascript:changeTheme('tomorrow')">Tomorrow</a>
                        <a class="dropdown-item" href="javascript:changeTheme('tomorrow_night')">Tomorrow Night</a>
                        <a class="dropdown-item" href="javascript:changeTheme('tomorrow_night_blue')">Tomorrow Night
                            Blue</a>
                        <a class="dropdown-item" href="javascript:changeTheme('tomorrow_night_bright')">Tomorrow Night
                            Bright</a>
                        <a class="dropdown-item" href="javascript:changeTheme('tomorrow_night_eighties')">Tomorrow Night
                            Eighties</a>
                        <a class="dropdown-item" href="javascript:changeTheme('twilight')">Twilight</a>
                        <a class="dropdown-item" href="javascript:changeTheme('vibrant_ink')">Vibrant Ink</a>
                    </div>
                </button>
                <button class="btn toolbarbtn" onclick="toggleLive()" title="Live Preview"><span
                        class="fas fa-bolt"></span>
                </button>
            </div>
        </div>
        <div id="openRepo">
            <div id="treeviewcontainer">
            <div id="treeview"></div>
                </div>
            <div id="editorcol">
                <div id="tabbar">
                    <ul class="nav nav-tabs"></ul>
                </div>
                <div id="editorContainer"></div>
                <div id="livedisplay">
                    <iframe id="livedisplayFrame"></iframe>
                </div>
                <div id="debug">
                    <div id="debugbtncontainer">
                        <button id="debugStart" class="btn toolbarbtn" title="Start"><i class="fas fa-eject"></i>
                        </button>
                        <button id="debugPause" class="btn toolbarbtn" title="Pause"><i class="fas fa-pause-circle"></i>
                        </button>
                        <button id="debugCont" class="btn toolbarbtn" title="Continue"><i
                                class="fas fa-play-circle"></i>
                        </button>
                        <button id="debugStepOver" class="btn toolbarbtn" title="Step Over"><i
                                class="fas fa-step-forward"></i></button>
                        <button id="debugStepInto" class="btn toolbarbtn" title="Step Into"><i
                                class="fas fa-forward"></i>
                        </button>
                        <button id="debugStepOut" class="btn toolbarbtn" title="Step Out"><i
                                class="fas fa-fast-forward"></i></button>
                    </div>
                    <table id="stackTable" class="table">
                        <thead id="stackTableHead">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Function</th>
                            <th scope="col">File:Line</th>
                        </tr>
                        </thead>
                        <tbody id="stackTableBody">
                        </tbody>
                    </table>
                    <table id="variableTable" class="table">
                        <thead id="variableTableHead">
                        <tr>
                            <th scope="col">Variable</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody id="variableTableBody">
                        </tbody>
                    </table>
                    <!---<table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Expression</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>-->
                </div>
                <div id="terminal">
                    <iframe id="terminalFrame" src="http://makaide.com:7681"></iframe>
                </div>
            </div>
        </div>
        <div id="noRepoSelectedOverlay">
            <div id="repoSelectContainer">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-search"></span></span>
                    </div>
                    <input type="text" class="form-control" id="repoSearch" onkeyup="repoSearch()"
                           placeholder="Search for names.." aria-label="Search" aria-describedby="basic-addon1">
                </div>
                <ul id="repoList">
                    <li>Missing Repos? <a href="{% url 'account:Sync' %}">Sync!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Version Control System</h5>
                    {#            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                    {#              <span aria-hidden="true">&times;</span>#}
                    {#            </button>#}
                </div>
                <div class="modal-body" style="text-align: center; font-size: 30px;">
                    <button id="commitButton" type="button" class="btn btn-primary"><i class="far fa-circle"></i>Commit
                    </button>
                    <button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i>Push</button>
                    <button type="button" class="btn btn-primary" onclick=""><i class="fas fa-cloud-download-alt"></i>Pull</button>
                </div>
                <div class="modal-footer">
                    {#            <button type="button" class="btn btn-primary">Done</button>#}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-database.js"></script>
    <!--TODO Is css needed?-->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css"/>
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "{{ config.apiKey }}",
            authDomain: "{{ config.authDomain }}",
            databaseURL: "{{ config.databaseURL }}",
            projectId: "{{ config.projectId }}",
            storageBucket: "{{ config.storageBucket }}",
            messagingSenderId: "{{ config.messagingSenderId }}"
        };
    </script>
    <script>
        function pull(){
            //TODO
        }
        function repoSearch() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("repoSearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("repoList");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <script src="{% static 'sandbox/js/config.js' %}"></script>
    <script src="{% static 'sandbox/js/helper.js' %}"></script>
    <script src="{% static 'sandbox/js/compile.js' %}"></script>
    <script src="{% static 'sandbox/js/vcs.js' %}"></script>
    <script src="{% static 'sandbox/js/collab.js' %}"></script>
{% endblock %}
