        body
        {
            background-color: ghostwhite;
        }

        .wrapper-castle
        {
            width: calc(100% - 70px);
            margin-left: 70px;
        }

        .breadcrumb-nav
        {
            background-color: rebeccapurple !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .navbar-brand
        {
            color: white !important;
        }

        .tool-nav
        {
            background-color: mediumpurple !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        /*{#.circle-bottom-left#}*/
        /*{#{#}*/
        /*{#    position: fixed;#}*/
        /*{#    margin-left: 70px;#}*/
        /*{#    bottom: 1vw;#}*/
        /*{#    left: 1vw;#}*/
        /*{#    width: 6vw;#}*/
        /*{#    height: 6vw;#}*/
        /*{#    border-radius: 100%;#}*/
        /*{#    background-color: rebeccapurple;#}*/
        /*{#    background-image: url({% static 'castle/img/share.png' %});#}*/
        /*{#    background-size: 75%;#}*/
        /*{#    background-position: center center;#}*/
        /*{#    background-repeat: no-repeat;#}*/
        /*{#    box-shadow: 1px 1px 2rem gray;#}*/
        /*{#}#}*/
        /*{##}*/
        /*{#.circle-bottom-left:hover#}*/
        /*{#{#}*/
        /*{#    width: 8vw;#}*/
        /*{#    height: 8vw;#}*/
        /*{#}#}*/
        /*{##}*/
        /*{#.circle-bottom-right#}*/
        /*{#{#}*/
        /*{#    position: fixed;#}*/
        /*{##}*/
        /*{#    bottom: 1vw;#}*/
        /*{#    right: 1vw;#}*/
        /*{#    width: 6vw;#}*/
        /*{#    height: 6vw;#}*/
        /*{#    border-radius: 100%;#}*/
        /*{#    background-color: rebeccapurple;#}*/
        /*{#    background-image: url({% static 'castle/img/trash.png' %});#}*/
        /*{#    background-size: 75%;#}*/
        /*{#    background-position: center center;#}*/
        /*{#    background-repeat: no-repeat;#}*/
        /*{#    box-shadow: 1px 1px 2rem gray;#}*/
        /*{#}#}*/
        /*{##}*/
        /*{#.circle-bottom-right:hover#}*/
        /*{#{#}*/
        /*{#    width: 8vw;#}*/
        /*{#    height: 8vw;#}*/
        /*{#}#}*/

        /* TODO Card CSS */
        .card
        {
            margin: 20px;
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 4rem;
        }

        .card-title
        {
            text-align: center;
            width: 15rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #card-list .ui-selecting
        {

        }

        #card-list .ui-selected
        {
            background: mediumpurple;
            box-sizing: border-box;
            color: white;
        }

        .container-fluid
        {
            bottom: 10vw;
        }

        .draggable-window
        {
            position: fixed;
            width: 100%;
            height: 87%;
            left: 70px;
            top: 115px;
            overflow-y: scroll;
        }

        /* Context Menu */
        .context-menu
        {
          display: none;
          position: absolute;
          z-index: 10;
          padding: 12px 0;
          width: 200px;
          background-color: whitesmoke;
          border: solid 1px #dfdfdf;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .context-menu--active{
          display: block;
        }

        .context-menu__items{
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .context-menu__item{
          display: block;
          margin-bottom: 4px;
        }

        .context-menu__item:last-child{
          margin-bottom: 0;
        }

        .context-menu__link{
          display: block;
          padding: 4px 12px;
          color: rebeccapurple;
          text-decoration: none;
        }

        .context-menu__link:hover{
          color: #fff;
          background-color: rebeccapurple;
          text-decoration: none;
        }

        /* Context Menu */
        .container-context-menu
        {
          display: none;
          position: absolute;
          z-index: 10;
          padding: 12px 0;
          width: 200px;
          background-color: whitesmoke;
          border: solid 1px #dfdfdf;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .container-context-menu--active{
          display: block;
        }

        .container-context-menu__items{
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .container-context-menu__item{
          display: block;
          margin-bottom: 4px;
        }

        .container-context-menu__item:last-child{
          margin-bottom: 0;
        }

        .container-context-menu__link{
          display: block;
          padding: 4px 12px;
          color: rebeccapurple;
          text-decoration: none;
        }

        .container-context-menu__link:hover{
          color: #fff;
          background-color: rebeccapurple;
          text-decoration: none;
        }

        /* Context Menu */
        .repository-context-menu
        {
          display: none;
          position: absolute;
          z-index: 10;
          padding: 12px 0;
          width: 200px;
          background-color: whitesmoke;
          border: solid 1px #dfdfdf;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .repository-context-menu--active{
          display: block;
        }

        .repository-context-menu__items{
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .repository-context-menu__item{
          display: block;
          margin-bottom: 4px;
        }

        .repository-context-menu__item:last-child{
          margin-bottom: 0;
        }

        .repository-context-menu__link{
          display: block;
          padding: 4px 12px;
          color: rebeccapurple;
          text-decoration: none;
        }

        .repository-context-menu__link:hover{
          color: #fff;
          background-color: rebeccapurple;
          text-decoration: none;
        }

        /* Context Menu */
        .container-repository-context-menu
        {
          display: none;
          position: absolute;
          z-index: 10;
          padding: 12px 0;
          width: 200px;
          background-color: whitesmoke;
          border: solid 1px #dfdfdf;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .container-repository-context-menu--active{
          display: block;
        }

        .container-repository-context-menu__items{
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .container-repository-context-menu__item{
          display: block;
          margin-bottom: 4px;
        }

        .container-repository-context-menu__item:last-child{
          margin-bottom: 0;
        }

        .container-repository-context-menu__link{
          display: block;
          padding: 4px 12px;
          color: rebeccapurple;
          text-decoration: none;
        }

        .container-repository-context-menu__link:hover{
          color: #fff;
          background-color: rebeccapurple;
          text-decoration: none;
        }