{% extends 'home/nav.html' %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <title>Makai</title>

    <link rel="stylesheet" href="{% static 'castle/css/style.css' %}">
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'castle/js/scriptUI.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"
            integrity="sha256-412FxT7SHXk39AYYNe8+6YGQAhZhlKhthDw2Z3qp/B0=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <div class="wrapper-castle">
        <nav class="navbar navbar-light bg-light breadcrumb-nav">
            <a class="navbar-brand" href="{% url 'account:Sync' %}">Sync</a>
            <div class="btn-group mr-2">
                <button class="btn" onClick="newRepo()" type="button"><i class="fas fa-book"></i> New Repo</button>
                <button class="btn" onClick="uploadRepo()" type="button"><i class="fas fa-upload"></i> Upload Repo
                </button>
            </div>
            <div class="input-group" style="width: 17%">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" type="search" placeholder="Search..." onInput="search()" id="searchBar"
                       aria-label="Search">
            </div>
        </nav>

        {#                <nav class="navbar navbar-light bg-light tool-nav">#}
        {#                  TODO Breadcrumbs#}
        {#                </nav>#}

        <div class="container-fluid">
            <div class="card-columns" id="card-list">
            </div>
        </div>

    </div>
    <script>
        function lock() {
            $("#lockspan").toggleClass('unlocked');
            $("#repostatus").text($("#repostatus").text() == 'Public Repo' ? 'Private Repo' : 'Public Repo');
        }

        $(function () {
            $.contextMenu({
                selector: 'body',
                callback: function (key, options) {
                    if (key == "repo") {
                        newRepo();
                    } else if (key == "upload") {
                        uploadRepo();
                    }
                },
                items: {
                    "repo": {name: "New Repository", icon: "fas fa-book"},
                    "upload": {name: "Upload", icon: "fas fa-upload"}
                }
            });
            $(".card-columns").contextMenu({
                selector: '.card',
                callback: function (key, options) {
                    if (key == "preview") {
                        previewRepo($(this).attr('id'));
                    } else if (key == "rename") {
                        renameRepo($(this).attr('id'));
                    } else if (key == "share") {
                        shareRepo($(this).attr('id'));
                    } else if (key == "delete") {
                        deleteRepo($(this).attr('id'));
                    } else if (key == "description") {
                        editRepoDescription($(this).attr('id'));
                    }
                },
                items: {
                    "preview": {name: "Preview", icon: "fas fa-eye"},
                    "rename": {name: "Rename", icon: "fas fa-edit"},
                    "description": {name: "Edit Description", icon: "fas fa-edit"},
                    "share": {name: "Share", icon: "fas fa-share"},
                    "delete": {name: "Delete", icon: "fas fa-trash"},
                }
            });
        });


        {% for full_name, repo in repos.items %}
            var owner = "{{ full_name }}";
            owner = owner.split("/")[0];
            var node = document.createElement("div");
            node.classList.add("card");
            node.id = "{{ repo.name }}";
            node.setAttribute("data-updated-on", "{{ repo.updated_on }}");
            node.setAttribute("data-host", "{{ repo.host }}");
            node.setAttribute("data-size", "{{ repo.size }}");
            node.setAttribute("data-owner", owner);
            node.setAttribute("data-is-private", "{{ repo.is_private }}");
            node.setAttribute("data-language", "{{ repo.language }}");
            node.setAttribute("data-description", "{{ repo.description }}");
            var bodynode = document.createElement("div");
            bodynode.className = "card-body";
            var link = document.createElement("a");
            link.href = '{% url 'castle:Project' host=repo.host repo=repo.name owner=repo.owner branch='master' path=''%}';
            var subnode = document.createElement("h5");
            subnode.className = "card-title";
            var textnode = document.createTextNode('{{ repo.name }}');
            subnode.appendChild(textnode);
            bodynode.appendChild(subnode);
            node.appendChild(bodynode);
            link.appendChild(node);

            document.getElementById('card-list').appendChild(link);
            {#i++;#}
        {% endfor %}
    </script>

    {#    <a href="https://bitbucket.org/site/oauth2/authorize?client_id=QjQ49apJFL26jg8gzY&response_type=code">Go</a>#}
    {#    <a href="https://github.com/login/oauth/authorize?scope=repo delete_repo&client_id=cfcb9d0319f6d921ae8d">Go</a>#}
{% endblock %}
