
{% extends 'home/nav.html' %}
{% load static %}

{% block content %}
    <title>Projects</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( ".card" ).draggable({ revert: "invalid", scroll: false});
      });
    </script>
    <style>
        body
        {
            background-color: ghostwhite;
        }

        .wrapper-castle
        {
            width: calc(100% - 70px);
            margin-left: 70px;
        }

        .navbar
        {
            background-color: rebeccapurple !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .navbar-brand
        {
            color: white !important;
        }

        .circle-bottom-left
        {
            position: fixed;
            margin-left: 70px;
            bottom: 1vw;
            left: 1vw;
            width: 6vw;
            height: 6vw;
            border-radius: 100%;
            background-color: rebeccapurple;
            background-image: url({% static 'castle/img/share.png' %});
            background-size: 75%;
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 1px 1px 2rem gray;
        }

        .circle-bottom-left:hover
        {
            width: 8vw;
            height: 8vw;
        }

        .circle-bottom-right
        {
            position: fixed;

            bottom: 1vw;
            right: 1vw;
            width: 6vw;
            height: 6vw;
            border-radius: 100%;
            background-color: rebeccapurple;
            background-image: url({% static 'castle/img/trash.png' %});
            background-size: 75%;
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 1px 1px 2rem gray;
        }

        .circle-bottom-right:hover
        {
            width: 8vw;
            height: 8vw;
        }

        .card
        {
            margin: 20px;
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .container-fluid
        {
            bottom: 10vw;
        }

        .context-menu {
          display: none;
          position: absolute;
          z-index: 10;
          padding: 12px 0;
          width: 200px;
          background-color: whitesmoke;
          border: solid 1px #dfdfdf;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }

        .context-menu--active {
          display: block;
        }

        .context-menu__items {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .context-menu__item {
          display: block;
          margin-bottom: 4px;
        }

        .context-menu__item:last-child {
          margin-bottom: 0;
        }

        .context-menu__link {
          display: block;
          padding: 4px 12px;
          color: rebeccapurple;
          text-decoration: none;
        }

        .context-menu__link:hover {
          color: #fff;
          background-color: rebeccapurple;
          text-decoration: none;
        }
    </style>

    <div class="wrapper-castle">
        {# TODO Breadcrumbs #}
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand">Breadcrumbs</a>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>

        <div class="draggable-window">
            <div class="container-fluid">
                <div class="row">
                    <div class="card" style="width: 15rem;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                    </div>

                    <div class="card" style="width: 15rem;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                    </div>

                    <div class="card" style="width: 15rem;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                    </div>

                    <div class="card" style="width: 15rem;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="circle-bottom-left">
            </div>
            <div class="circle-bottom-right">
            </div>
        </div>

      <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
          <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="View"><i class="fa fa-eye"></i> Preview</a>
          </li>
          <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Edit"><i class="fa fa-edit"></i> Edit</a>
          </li>
          <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Delete"><i class="fas fa-share"></i> Share</a>
          </li>
          <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Delete"><i class="fa fa-times"></i> Delete</a>
          </li>
        </ul>
      </nav>
    </div>

    <script src="{% static 'castle/js/script.js' %}"></script>

{#    <a href="https://bitbucket.org/site/oauth2/authorize?client_id=QjQ49apJFL26jg8gzY&response_type=code">Go</a>#}
{#    <a href="https://github.com/login/oauth/authorize?scope=repo delete_repo&client_id=cfcb9d0319f6d921ae8d">Go</a>#}
{% endblock %}

