body {
    background: ghostwhite;
    font-family: "Raleway";
}

#content {
    width: calc(100% - 70px);
    margin-left: 70px;
}

#breadcrumbs {
    width: 50%;
    height: 40px;
/ / bottom: 0;
    display: inline-block; /* The menu will have width as needed, not 100% */
    position: relative;
    font-family: Raleway;
    font-size: 14px;
/ / line-height: 1 em;
/ / border-radius: 2 px; /* Little curvature in the borders */
/ / overflow-x: scroll;
    overflow-y: scroll; /* Hide everything that overflows, like shadows */
}

/* Icons */
#breadcrumbs i {
    transform: scale(1.4);
}

/* Menu */
#breadcrumbs ul {
    display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
/ / flex-direction: row-reverse; /* Reverse the items */
    /* Reset styles, overwrite browser defaults */
    list-style: none;
    margin: 0;
    padding: 0;
}

#breadcrumbs ul li {
    margin: 0;
}

#breadcrumbs ul li {
    display: inline-block;
    font-family: Raleway;
    font-size: 0.9em;
    font-weight: 600;
    padding: 12px 30px; /* Adjusting padding to get the proper space */
    margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
    color: white;
    background-color: mediumpurple;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0; /* Get the right side rounded */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Apply the shadow */
}

#breadcrumbs ul li:hover {
    background-color: rebeccapurple;
}

.breadcrumb > li + li:before, .breadcrumb-item + .breadcrumb-item::before {
    content: "";
}

/* Active item is a bit different */
#breadcrumbs ul li.active {
    color: mediumpurple;
    background-color: #EEF5FF;
}

.breadcrumb {
    border-radius: 0px;
}


#toolbar, .toolbar {
    width: 50%;
    height: 40px;
    position: relative;
    float: right;
}

#toolbar .toolbarbtn {
    height: 100%;
    width: calc(100% / 5);
    margin: 0;
    font-size: 12pt;
}

.toolbarbtn:hover {
    background: ghostwhite !important;
    color: rebeccapurple;
}

#treeview {
    width: 15%;
    height: 100%;
    display: inline-block;
    float: left;
    background: #f5f5f5;
}

#tabbar {
    width: 100%;
    height: 42px;
    position: relative;
    float: right;
    background: #E3E3E3;
}

#tabbar > ul {
    background: #E3E3E3;
}

#tabbar .active {
    background: #F0F0F0;
    border-color: #C3C3C3;
    border-bottom-color: transparent;
}

#tabbar .active > a {
    margin: 0px;
}

#tabbar .nav-tabs {
    border-bottom-color: #C3C3C3;
}

#editor {
    width: 100%;
    height: calc(70% - 20px);
    position: relative;
    display: inline-block;
}

#editor .liveview {
    width: 50% !important;
}
#editor .debugview {
    width: 50% !important;
}

#livedisplay {
    width: 50%;
    height: calc(70% - 20px);
    position: relative;
    float: right;
    display: none;
    border-left: solid 2px rebeccapurple;
    background: white;
    left: 0 !important;
}

#livedisplayFrame {
    width: 100%;
    height: 100%;
    border: 0px;
}

#terminal {
    width: 100%;
    height: calc(30% - 9px);
    position: relative;
    float: right;
    top: 0 !important;
    padding-top: 0.5%;
    padding-left: 0.5%;
    margin-top: 0.5%;
}

#terminalFrame {
    width: 100%;
    height: 100%;
    border: 0px;
}

#editorcol {
    float: left;
    width: 85%;
    left: 0 !important;
}

#bottomtoolbar {
    position: fixed;
    background: rebeccapurple;
    bottom: 0;
    width: calc(100% - 70px);
    text-align: center;
}

/*Debugger*/
.ace_gutter-cell.ace_breakpoint {
    background-color: #DCA038;
}

.currentDebugLine{
    position: absolute;
    background-color: #C3D2DE;
}
#debug {
    width: 50%;
    height: calc(70% - 20px);
    position: relative;
    float: right;
    display: none;
    border-left: solid 2px rebeccapurple;
    background: white;
    left: 0 !important;
    overflow: scroll;
}
#debug .toolbarbtn{
    width: calc(100% / 7);
    background: rebeccapurple;
}
#debugbtncontainer{
    display: inline-block;
    width: 100%;
}

/*Dark Theme*/

.list-group-item {
    border: 0;
}

.black {
    background: black !important;
    color: white !important;
}

.gray {
    background: #212121 !important;
    color: white !important;
}

.lightgray {
    background: #303030 !important;
    color: white !important;
}

.lightestgray {
    background: #424242 !important;
    color: white !important;
}

.lightgraytext {
    color: #303030 !important;
}

.modal i{
    display: block;
}
