body {
    background: cornflowerblue;
}

#breadcrumbs {
    width: 50%;
    height: 40px;
    position: relative;
    display: inline-block;
}

#breadcrumbs .breadcrumb {
    border-radius: 0px;
    margin-bottom: 0px;
    height: 40px;
    background: #E3E3E3;
}

#breadcrumbs .breadcrumb > li + li:before {
    color: #ccc;
    content: ">";
    padding: 0 10px;
}

#breadcrumbs .breadcrumb .active{
    color: #3A8BCC;
}

#toolbar {
    width: 50%;
    height: 40px;
    position: relative;
    float: right;
}

#toolbar .toolbarbtn {
    height: 100%;
    width: 20%;
    margin: 0;
    font-size: 12pt;
}

#treeview {
    width: 15%;
    height: 100%;
    display: inline-block;
    float: left;
    background: #F0F0F0;
}

#tabbar {
    width: 85%;
    height: 60px;
    position: relative;
    float: right;
    background: #F0F0F0;
}

#tabbar > ul {
    background: #E3E3E3;
}

#tabbar .active {
    background: #F0F0F0;
    border-color: #C3C3C3;
    border-bottom-color: transparent;
}

#tabbar .active > a {
    margin: 0px;
}

#tabbar .nav-tabs {
    border-bottom-color: #C3C3C3;
}

#editor {
    width: 85%;
    height: calc(70% - 51px);
    position: relative;
    float: right;
}

#terminal {
    width: 85%;
    height: calc(30% - 9px);
    position: relative;
    float: right;
}

#terminalFrame {
    width: 100%;
    height: 100%;
    border: 0px;
}

.firepad {
    margin-top: 42px !important;
}